{%extends 'base.html'%}
{%block body_block%}

    <div class="row"></div>
    <div class="col-2"></div>
    <div class="col-8">
        <table class="table">
            <tr>
                <th>EmpId</th>
                <th>Employee Name</th>
                <th>Department</th>
                <th>Email</th>
                <th>Salary</th>
                <th>Experience</th>

            </tr>
            {% for emp in employee%}
            <tr>
                <td>{{emp.id}}</td>
                <td>{{emp.empname}}</td>
                <td>{{emp.department}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.experience}}</td>
                <td><a class="btn btn-success" href="{%url 'empview' emp.id%}">View</a></td>
                <td><a class="btn btn-warning" href="{%url 'empedit' emp.id%}">Edit</a> </td>
                 <td><a class="btn btn-danger" href="{%url 'empdel' emp.id%}">Delete</a> </td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <div class="col-2"></div>

{%endblock%}